@model WebStoreBootstrap.ViewModels.ViewDetails

@{
    
    ViewBag.Title = "Worker Details";
}

    <h3>@Model.Titulo</h3>
    <h2>@Model.SubTitulo</h2>

    <div>Name:@Model.worker.Name</div>
    <div>Age:@Model.worker.Age</div>
    <div>Phone:@Model.worker.Phone</div>
    <div>State:@Model.worker.State</div>
    
    @section Scripts
    {
        <script src="~/js/site.js"></script>
    }